section{
    margin: 20px 0px;
}

#favorableUv{
    background-color: green;
    color: white;
    border-radius: 3px;
}

#moderateUv{
    background-color: orange;
    color: white;
    border-radius: 3px;
}

#severeUv{
    background-color: tomato;
    color: white;
    border-radius: 3px;
}

#forecastContainer{
    display: flex;
}

#searchBtn{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

#searchInput{
    margin-top: 20px;
}

#searchFormHeader{
    margin-top: 20px;
}

#currentWeatherCard{
    margin-top: 20px;
    border: 1px solid black;
    padding-left: 7px;
    font-size: large;
}

#recentSearches{
    border-top: 3px solid grey;
    margin-top: 5%;

}

.recentSearchItem{
    width: 100%;
    margin-top: 3%;
    background-color:rgba(128, 128, 0, 0.712);
}

.dailyCards{
    background-color:rgb(82, 135, 137);
    color: white;
    font-weight: bold;
    margin: 0 15px;
}